/* Base */

* {
    box-sizing: border-box;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

body {
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 0px;
}

.isActive{
    background: #333333;
}

.content-container{
    align-items: center;
    display: flex;
    justify-content: center;
}

.centered{
    max-width: 700px;
    margin: 0 auto;
}

/* Menu styles */

.menu {
    width: 300px;
    margin: 0px;
	height: calc(100vh);
    background: #4e5166;
    float: left;
    margin-right: 10px; 
}

.menu_link{
    font-weight: 600;
    display: block;
    padding: 1em 2.5em 1em 1.5em;
    text-decoration: none;
    margin-bottom: 5px;
    color: white;
}

.menu_link:hover{
    background: #333333;
    -webkit-transition: background 1.1s;
}

.logo{
    width: 100%;
    height: 155px;
    border: 1px solid black;
    background: white;
}

/* Page Header */
.page_header{
    text-align: center;
    background: #f7f7f7;
    padding: 15px 0;
    margin-bottom: 75px;
    height: 150px;
}

.page-header__title{
    margin-top: 40px;
    font-weight: 300;
}


/* Text Input */
.text-input{
    border: 1px solid #cacccd;
    height: 50px;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1.2rem;
}

.select{
    border: 1px solid #cacccd;
    height: 50px;
    font-size: 1.8rem;
    font-weight: 300;
    padding: 1.2rem;
}

/* Form */

.form{
    display: flex;
    flex-direction: column;
}

.form > *{
    margin-bottom: 1.6rem
}

.form__error{
    margin: 0 0 1.6rem 0;
    font-style: italic;
}

/* Button */
.button{
    color: white;
    background: #4e5166;
    border: none;
    padding: 1.2rem;
    font-weight: 300;
    font-size: 1.8rem;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
}